.title-1 {
    text-align: center;
    padding: 16px;
    background-color: darkorchid;
    border: 0px outset orange;
    color: white;
    width: 100vw;
    margin: auto;
    height: 100px;
    position: absolute;
    top: -5%;
    right: 0.001%;
    z-index: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("pbd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.leftmenu {
    padding: 22spx;
    background-color: purple;
    width: 130px;
    height: 300px;
    color: white;
    position: fixed;
    left: 4%;
}*/

.menubit {
    position: absolute;
    top: 13%;
    left: -3.2%;
}

.leftmenu-item {
    padding: 22px;
    background-color: darkorchid;
    border: 2.5px black solid;
    width: 140px;
    height: 18px;
    display: block;
    color: white;
    z-index: 1;
}

.leftmenu-item:hover {
    background-color: purple;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

li a, .dropbtn {
    padding: 22px;
    background-color: darkorchid;
    border: 2.5px black solid;
    width: 140px;
    height: 18px;
    display: block;
    color: white;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: purple;
}
  
li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boxinfo1-title {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 41%;
    top: -100%;
    border: 5px black solid;
    animation-name: boxinfo1-title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
}

.boxinfo1 {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 15%;
    top: 100%;
    border: 5px black solid;
    animation-name: boxinfo1;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards; 
}

.boxinfo2-title {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 100%;
    top: 16%;
    border: 5px black solid;
    animation-name: boxinfo2-title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
}

.boxinfo2 {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: -100%;
    top: 29%;
    border: 5px black solid;
    animation-name: boxinfo2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

.boxinfo3-title {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 100%;
    top: 16%;
    border: 5px black solid;
    animation-name: boxinfo3-title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
}

.boxinfo3 {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: -100%;
    top: 29%;
    border: 5px black solid;
    animation-name: boxinfo3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

.boxinfo4-title {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 100%;
    top: 16%;
    border: 5px black solid;
    animation-name: boxinfo4-title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
    width: 70%;
}

.boxinfo4 {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: -100%;
    top: -100%;
    border: 5px black solid;
    animation-name: boxinfo4;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

.boxinfo5-title {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: 100%;
    top: 16%;
    border: 5px black solid;
    animation-name: boxinfo5-title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;  
    width: 74%;
}

.boxinfo5 {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    background-color: violet;
    position: fixed;
    left: -100%;
    top: -100%;
    border: 5px black solid;
    animation-name: boxinfo5;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

/*Keyframes for animation*/
@keyframes boxinfo1-title {
    0% {left: 39%; top: -100%;}
    100% {left:39%; top:30%; color: black;}
}

@keyframes boxinfo1 {
    0% {left:15%; top: 100%;}
    100% {left:15%; top:43%; color: black;}
}

@keyframes boxinfo2-title {
    0% {left: 41%; top: -100%;}
    100% {left:41%; top:30%; color: black;}
}

@keyframes boxinfo2 {
    0% {left:15%; top: 100%;}
    100% {left:15%; top:43%; color: black;}
}

@keyframes boxinfo3-title {
    0% {left: 100%; top: 16%; opacity:1%;}
    15% {opacity: 0.2%;}
    100% {left:45%; top:16%; color: black;}
}

@keyframes boxinfo3 {
    0% {left:-100%; top: 29%; opacity:1%;}
    15% {opacity: 0.2%;}
    100% {left:15%; top:29%; color: black;}
}

@keyframes boxinfo4-title {
    0% {left: 100%; top: 100%;}
    100% {left:20%; top:22%; color: black;}
}

@keyframes boxinfo4 {
    0% {left:-100%; top: -100%;}
    100% {left:20%; top:40%; color: black;}
}

@keyframes boxinfo5-title {
    0% {left: 100%; top: 100%;}
    100% {left:17.5%; top:22%; color: black;}
}

@keyframes boxinfo5 {
    0% {left:-100%; top: -100%;}
    100% {left:20%; top:40%; color: black;}
}